:root {
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --primary-color: #9c50ee;
   --primary-light: #b36dff;
}

html {
   height: 100%;
   box-sizing: border-box;
   font-size: 12px;
}

body {
   height: 100%;
   font: 1.2em sans-serif;
   margin: 0;
}

.centered {
   width: 100%;
   text-align: center;
}

.wrapper {
   min-height: 100%;
   display: grid;
   grid-template-rows: auto 1fr auto;
}

.header,
.footer {
   background-color: #f5f5f5;
   color: #fff;
   padding: 20px;
}

.header {
   &__bar {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      gap: 2rem;

      a {
         display: block;
      }
   }
}

.footer {
   min-height: 60px;
}

a {
   font-weight: 500;
   color: var(--primary-color);
   text-decoration: inherit;
}
a:hover {
   color: var(--primary-light);
}

h1 {
   font-size: 3.2em;
   line-height: 1.1;
}

button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.25s;
   outline: none !important;
   border-color: var(--primary-color);
   &:hover {
      box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.24);
   }
   &:active {
      box-shadow: none;
      opacity: 0.69;
   }
}

.dashboard {
}

.table {
   width: 80%;
   margin: 0 auto;
   padding: 20px;

   &__row {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 3rem 1fr 1fr 0.7fr 0.7fr repeat(2, 0.5fr) 1fr;
      &-title {
         text-align: center;
         font-weight: bold;
      }
   }

   &__cell {
      border: 1px solid #b36dff;
      padding: 10px;
      &:nth-child(1) {
         padding: 10px 0;
         text-align: center;
      }
   }

   &__actions {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      height: 100%;
      & > button {
         border-color: rgb(209, 209, 209);
         flex-basis: 30%;
         border-radius: 3px;
         font-size: small;
         padding: 0.5rem 0.8rem;
         flex-shrink: 1;
      }
   }
}

@media (prefers-color-scheme: light) {
   :root {
      color: #213547;
      background-color: #ffffff;
   }
   a:hover {
      color: #747bff;
   }
   button {
      background-color: #f9f9f9;
   }
}
