:root {
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --primary-color: #9c50ee;
   --primary-light: #b36dff;
}

html {
   height: 100%;
   box-sizing: border-box;
   font-size: 12px;
}

body {
   height: 100%;
   font: 1.2em sans-serif;
   margin: 0;
}

.centered {
   width: 100%;
   text-align: center;
}

.wrapper {
   min-height: 100%;
   display: grid;
   grid-template-rows: auto 1fr auto;
}

.header,
.footer {
   background-color: #f5f5f5;
   color: #282828;
   padding: 20px;
}

.header {
   &__bar {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      gap: 2rem;

      a {
         display: block;
      }
   }
}

.footer {
   min-height: 60px;
   padding: 2rem 4rem;
   font-size: 1.4rem;
}

a {
   font-weight: 500;
   color: var(--primary-color);
   text-decoration: inherit;
}
a:hover {
   color: var(--primary-color) !important;
   text-decoration: underline;
}

h1 {
   font-size: 3.2em;
   line-height: 1.1;
}

button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.25s;
   outline: none !important;
   border-color: var(--primary-color);
   &:hover {
      box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.24);
   }
   &:active {
      box-shadow: none;
      opacity: 0.69;
   }
}

.loader {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 50px;
   height: 50px;
   border: 5px solid #f3f3f3;
   border-top: 5px solid #3498db;
   border-radius: 50%;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.dashboard {
   width: 80%;
   margin: 0 auto;
}

.filter {
   &__show {
      justify-self: flex-end;
      align-self: flex-end;
      display: flex;
      flex-flow: row nowrap;
      gap: 2.3rem;
      padding-right: 1ch;
   }
}

.table {
   padding: 0;

   &__row {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 3rem 1fr 1fr 0.7fr 0.7fr repeat(2, 0.5fr) 1fr;
      &-title {
         text-align: center;
         font-weight: bold;
      }

      &_muted {
         background-color: #213547;
         color: #fff;
      }
   }

   &__cell {
      border: 1px solid #b36dff;
      padding: 10px;
      &:nth-child(1) {
         padding: 10px 0;
         text-align: center;
      }
   }

   &__actions {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      height: 100%;

      & > button {
         border-color: rgb(209, 209, 209);
         flex-basis: 35%;
         border-radius: 3px;
         white-space: nowrap;
         padding: 0.5rem 0.25rem;
         flex-shrink: 5;
         &:nth-of-type(3) {
            flex-shrink: 0;
            flex-grow: 5;
         }
      }
   }
}

.smaller {
   font-size: 0.85rem;
}

@media (prefers-color-scheme: light) {
   :root {
      color: #213547;
      background-color: #ffffff;
   }
   a:hover {
      color: #747bff;
   }
   button {
      background-color: #f9f9f9;
   }
}

.book-page {
   margin: 0 auto;
}

.form {
   width: auto;
   border-radius: 1.8rem;
   border: 2px solid rgb(128, 149, 208);
   background: rgb(239, 239, 239);
   padding: 4rem 5rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;

   &__success_text,
   &__error_text {
      height: 2rem;
      margin: 0;
      font-weight: 600;
      color: red;
      font-size: 1.6rem;
   }

   &__success_text {
      font-size: 1.4rem;
      color: green;
   }

   &__heading {
      margin: 1rem auto 0;
   }

   &__row {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
   }

   label {
      font-size: 1.6rem;
      padding: 0 1rem;
      width: 40%;
   }

   select,
   input {
      font-size: 1.45rem;
      padding: 0.5rem 0;
      width: 50%;
      border: none;
      outline: none;
      background: transparent;
      border-bottom: 1px solid black;
   }

   button {
      margin: 1rem 0.4rem;
      font-size: 1.4rem;
      border-radius: 6px;
      font-weight: 600;
      min-width: 100px;
      border: 2px solid rgb(62, 60, 60);
      white-space: nowrap;
   }
}

@media screen and (max-width: 1024px) {
   .dashboard {
      width: 98vw;
   }
   .table {
      overflow: scroll;
   }
}
@media screen and (max-width: 768px) {
   h1,
   h2,
   h3 {
      font-size: 2rem;
   }
   .filter__show {
      gap: 5px;
   }
   .form {
      gap: 0.7rem;
      padding: 2rem 0.4rem;
      font-size: 16px;
      max-width: 98vw;

      label {
         width: 35%;
         flex-shrink: 1;
      }

      label,
      select,
      option,
      button,
      p,
      input {
         font-size: 14px;
      }
   }
   .table-wrapper {
      max-width: 100vw;
      overflow: scroll;
   }

   .table {
      width: 800px;
   }
}
