.bg-blue-reduction {
    background-color: #09f
}

.item-link {
    word-break: break-word
}

.item-reduction {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    top: 3px;
    right: 0;
    text-align: center;
    font-weight: 700;
    background-color: #ffed6b;
    border-radius: 50%
}

.item-reduction.best-offer-reduc {
    left: 0;
    width: 5rem;
    height: 5rem;
    line-height: 5rem
}

.item-title {
    max-height: 4.8rem;
    min-height: 4.8rem;
    overflow: hidden;
    white-space: normal;
    line-height: 2rem
}

.item-prices {
    min-height: 4.6rem;
    max-height: 4.6rem
}

.item-clubR--logo,
.item-clubR img {
    width: 5.5rem
}

.item-clubR p {
    width: 125px
}

.item-clubRNotDisplayed {
    min-height: 31px
}

.item-clubRNotDisplayed span {
    width: 55px;
    height: 18.9px
}

.item-clubRNotDisplayed p {
    width: 125px;
    height: 18.5px
}

.overflow-list-container {
    min-height: 280px
}

.fixed-height-16 {
    max-height: 2rem;
    min-height: 2rem;
    padding: .4rem 0 0
}

.fixed-h16-nopadding {
    height: 16px
}

.fixed-height-32 {
    max-height: 4rem;
    min-height: 4rem;
    padding: .2rem 0 0
}

.new-blue {
    color: #1f55ad
}

.item-rating-stars {
    background-image: url(https://images.fr.shopping.rakuten.com/visuels/2017/hpassets/rate.svg);
    background-repeat: no-repeat;
    width: 8rem;
    height: 2.1rem
}

.rating_0 .item-rating-stars {
    background-position: -8rem 0
}

.rating_5 .item-rating-stars {
    background-position: -8rem -2rem
}

.rating_10 .item-rating-stars {
    background-position: -6.4rem 0
}

.rating_15 .item-rating-stars {
    background-position: -6.4rem -2rem
}

.rating_20 .item-rating-stars {
    background-position: -4.8rem 0
}

.rating_25 .item-rating-stars {
    background-position: -4.8rem -2rem
}

.rating_30 .item-rating-stars {
    background-position: -3.2rem 0
}

.rating_35 .item-rating-stars {
    background-position: -3.2rem -2rem
}

.rating_40 .item-rating-stars {
    background-position: -1.6rem 0
}

.rating_45 .item-rating-stars {
    background-position: -1.6rem -2rem
}

.rating_50 .item-rating-stars {
    background-position: 0 0
}

.special-item-clubR {
    background-image: url(https://images.fr.shopping.rakuten.com/visuels/canopy-commons/BG_flux_desk.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: 1px solid #ddd
}

@media (max-width:992px) {
    .overflow-list-container {
        overflow: scroll;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
    .overflow-list-container .grid_col {
        display: inline-block;
        max-width: 220px !important;
        vertical-align: top
    }
    .overflow-list-container .item-link {
        margin-left: 0;
        margin-right: 0
    }
    .item-clubR img {
        max-height: 19px
    }
}

@media only screen and (min-device-width:768px)and (max-device-width:1024px)and (orientation:landscape) {
    .overflow-list-container {
        overflow: scroll;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
    .overflow-list-container .grid_col {
        display: inline-block;
        max-width: 220px !important
    }
    .overflow-list-container .item-link {
        margin-left: 0;
        margin-right: 0
    }
}

@media (orientation:portrait) {
    .overflow-list-container {
        max-height: 435px
    }
}

@media (max-width:768px) {
    .special-item-clubR .f48 {
        font-size: 3.6rem
    }
}

@media (max-width:576px) {
    .flux-container .item-link {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 0;
        border-bottom: 1px solid #ddd
    }
    .flux-container .item-picture {
        width: 37%
    }
    .flux-container .item-description {
        width: 58%;
        margin-left: 5%;
        margin-top: .75rem
    }
    .special-item-clubR {
        background-image: url(https://images.fr.shopping.rakuten.com/visuels/canopy-commons/BG_flux_mob.png);
        margin: 0;
        border: none;
        border-bottom: 1px solid #ddd
    }
    .special-item-clubR img {
        max-width: 240px
    }
    .special-item-clubR .f48 {
        font-size: 2.4rem
    }
}

@media(min-width:1492px) {
    .special-item-clubR .f48 {
        font-size: 4rem
    }
    .special-item-clubR .f24 {
        font-size: 1.8rem
    }
    .special-item-clubR a {
        padding-top: 1rem;
        padding-bottom: 1.25rem
    }
}

@media(min-width:576px)and (max-width:780px) {
    .item-clubR {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }
    .item-clubR p {
        text-align: left
    }
}

@media(min-width:576px)and (max-width:650px) {
    .item-clubR p {
        font-size: 1.2rem
    }
}

.skew-effect {
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg)
}

.skew-revert-effect {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
    white-space: nowrap
}

.dn-desktop {
    display: none
}

.best-offer-sticker,
.more-best-offer-sticker {
    width: 90px;
    border-radius: 3px;
    min-height: 20px;
    max-height: 20px
}

.item-link-best-offer {
    max-height: 212px;
    min-height: 212px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.item-title-best-offer {
    max-height: 2rem;
    min-height: 2rem;
    overflow: hidden;
    line-height: 2rem
}

.item-link-best-offer .item-picture-bg {
    width: 350px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

.item-link-more-best-offer {
    max-height: 227px;
    min-height: 227px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.img-more-best-offer {
    width: 12rem
}

.item-title-more-best-offer {
    max-height: 3.3rem;
    min-height: 3.3rem;
    overflow: hidden;
    line-height: 1
}

.item-link-more-best-offer .item-description {
    padding-left: 1rem
}

.price-more-best-offer {
    min-height: 74px
}

.item-clubR-best-offer img {
    width: 5rem
}

.offers-pct-reduction {
    width: 45px;
    height: 23px
}

.offers-integer {
    font-size: 45px
}

.offers-euro {
    top: -20px
}

@media (max-width:1680px) {
    .img-more-best-offer {
        width: 10rem
    }
}

@media (max-width:1492px) {
    .item-link-best-offer .item-picture {
        width: 50%
    }
    .item-link-best-offer .item-description {
        width: 50%;
        padding-left: 2rem
    }
    .item-link-best-offer .item-picture-bg {
        width: 300px
    }
    .item-link-more-best-offer .item-picture-bg {
        width: 140px
    }
    .img-more-best-offer {
        width: 9rem
    }
}

@media (max-width:1300px) {
    .item-link-more-best-offer .item-picture {
        width: 45%
    }
    .item-link-more-best-offer .item-description {
        width: 55%
    }
    .item-link-best-offer .item-picture-bg {
        width: 270px
    }
    .item-link-more-best-offer .item-picture-bg {
        width: 110px
    }
}

@media (max-width:1200px) {
    .item-link-best-offer .item-picture {
        width: 40%
    }
    .item-link-best-offer .item-description {
        width: 60%
    }
    .item-link-best-offer .item-picture-bg {
        width: 176px
    }
    .img-best-offer {
        width: 150px;
        height: auto
    }
    .item-link-more-best-offer .item-picture {
        -webkit-box-pack: start;
        -webkit-justify-content: start;
        justify-content: start;
        overflow: hidden
    }
    .item-link-more-best-offer .item-picture-bg {
        width: 110px
    }
}

@media (max-width:1080px) {
    .item-link-more-best-offer .item-picture-bg {
        width: 102px
    }
    .img-more-best-offer {
        width: 8rem
    }
    .item-link-more-best-offer .item-description {
        padding-right: 1rem
    }
}

@media (max-width:991.98px) {
    .item-link-best-offer .item-description,
    .item-link-best-offer .item-picture {
        width: 50%
    }
    .item-link-best-offer .item-picture-bg {
        width: 330px
    }
    .img-best-offer {
        width: unset;
        height: 100%
    }
    .item-link-more-best-offer .item-picture-bg {
        width: 146px
    }
    .item-link-more-best-offer .item-description {
        padding-right: 2rem
    }
    .img-more-best-offer {
        width: 12rem
    }
}

@media (max-width:768px) {
    .item-link-best-offer .item-picture-bg {
        width: 226px
    }
    .item-link-more-best-offer .item-description {
        padding-right: 1rem
    }
    .item-link-more-best-offer .item-picture-bg {
        width: 118px
    }
    .img-more-best-offer {
        width: 9rem
    }
}

@media (max-width:650px) {
    .item-link-more-best-offer .item-picture-bg {
        width: 102px
    }
    .img-more-best-offer {
        width: 8rem
    }
}

@media (max-width:575.98px) {
    .dn-desktop {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex
    }
    .dn-mob {
        display: none
    }
    .offers-pct-reduction {
        width: 40px;
        height: 20px
    }
    .offers-integer {
        font-size: 35px
    }
    .offers-euro {
        top: -14px
    }
    .best-offer-sticker,
    .more-best-offer-sticker {
        width: 90px;
        min-height: 18px;
        max-height: 18px
    }
    .best-offer-sticker img,
    .more-best-offer-sticker img {
        width: 8px
    }
    .item-link-best-offer,
    .item-link-more-best-offer {
        max-height: 188px;
        min-height: 188px
    }
    .item-link-best-offer .item-picture-bg,
    .item-link-more-best-offer .item-picture-bg {
        width: 180px
    }
    .img-best-offer,
    .img-more-best-offer {
        width: 140px;
        height: 140px
    }
    .item-link-more-best-offer .item-picture {
        width: 50%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        overflow: unset
    }
    .item-link-more-best-offer .item-description {
        width: 50%
    }
    .item-title-best-offer {
        max-height: 3.8rem;
        min-height: 3.8rem
    }
    .item-link-best-offer .item-description {
        padding-left: 1rem
    }
    .item-link-best-offer .offers-integer {
        line-height: 1
    }
    .price-best-offer {
        min-height: 74px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center
    }
}

@media (max-width:420px) {
    .item-link-best-offer .item-picture-bg,
    .item-link-more-best-offer .item-picture-bg {
        width: 150px
    }
    .img-best-offer,
    .img-more-best-offer {
        width: 120px;
        height: 120px
    }
    .best-offer-sticker,
    .more-best-offer-sticker {
        margin-bottom: 2rem
    }
}

@media (max-width:370px) {
    .item-link-best-offer .item-picture-bg,
    .item-link-more-best-offer .item-picture-bg {
        width: 130px
    }
    .img-best-offer,
    .img-more-best-offer {
        width: 100px;
        height: 100px
    }
    .best-offer-sticker,
    .more-best-offer-sticker {
        margin-bottom: 3rem
    }
    .img-best-offer,
    .img-more-best-offer {
        margin-bottom: 1rem
    }
}

@media (max-width:320px) {
    .item-link-best-offer .item-picture-bg,
    .item-link-more-best-offer .item-picture-bg {
        width: 110px
    }
    .img-best-offer,
    .img-more-best-offer {
        width: 80px;
        height: 80px
    }
    .best-offer-sticker,
    .more-best-offer-sticker {
        margin-bottom: 3.5rem
    }
    .img-best-offer,
    .img-more-best-offer {
        margin-bottom: 1.5rem
    }
}

.green-rebuy {
    color: #009500
}

.gray-rebuy {
    color: #686868
}

.item-link-rebuy {
    min-width: 284px;
    max-width: 284px;
    border-radius: 4px
}

.item-link-rebuy:hover {
    box-shadow: 0 2px 7px #dadada
}

.item-picture-rebuy img {
    max-height: 184px;
    min-height: 184px
}

.arrow-rebuy {
    width: 12px;
    height: 12px
}

.item-categ-rebuy {
    font-size: 1rem
}

.picto_rebuy {
    height: 10px
}

.arrowcarousel-rebuy {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: hsla(0, 0%, 100%, .9);
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px #777;
    background-size: auto;
    color: transparent;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    cursor: pointer;
    top: 37%
}

.arrowcarousel-rebuy-left {
    background-image: url(https://images.fr.shopping.rakuten.com/visuels/canopy-commons/left-arrow-grey.svg);
    background-position-x: 12px;
    background-position-y: 14px;
    left: 8px
}

.arrowcarousel-rebuy-right {
    background-image: url(https://images.fr.shopping.rakuten.com/visuels/canopy-commons/right-arrow-grey.svg);
    background-position-x: 14px;
    background-position-y: 14px;
    right: 8px
}

.top-offer-f54l-f34s {
    font-size: 54px
}

.item-top-offer {
    background-color: #f81c40;
    max-height: 446px;
    min-height: 446px;
    border-radius: 3px
}

.item-top-offer:hover .top-offer-cta {
    background-color: #000
}

.top-offer-cta {
    padding: 1.4rem 2rem;
    width: 156px
}

.item-top-offer--description,
.item-top-offer--picture {
    width: 50%
}

.item-top-offer--picture {
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg)
}

.item-top-offer--picture-bg {
    -webkit-transform: skew(5deg);
    transform: skew(5deg)
}

.item-top-offer--pellet {
    background-color: #ff4141;
    height: 70px;
    width: 70px;
    right: 0;
    top: -30px
}

.top-offer-sticker {
    width: 120px;
    border-radius: 3px;
    min-height: 24px;
    max-height: 24px;
    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg)
}

.top-offer-icon-sticker {
    width: 12px
}

.top-offer-icon-sticker,
.top-offer-sticker-text {
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg)
}

.top-offer-reduction {
    background-color: #09f
}

.top-offer-item-club {
    border-bottom: 1px solid #fff
}

.top-offer-item-whiteLogo {
    width: 75px
}

.top-offer-price-decimal {
    margin-left: -1.5rem
}

.top-offer-euro {
    top: -23px
}

@media (max-width:1400px) {
    .item-top-offer {
        margin-top: .5rem;
        margin-bottom: .5rem
    }
}

@media (max-width:1300px) {
    .item-top-offer--picture {
        width: 45%
    }
    .item-top-offer--description {
        width: 55%
    }
    .item-top-offer--pellet {
        right: -10px;
        top: -50px
    }
}

@media (max-width:1100px) {
    .top-offer-item-club {
        padding-left: 0;
        padding-right: 0
    }
    .top-offer-item-whiteLogo {
        width: 70px
    }
}

@media (max-width:992px) {
    .top-offer-item-club {
        padding-left: 0;
        padding-right: 0
    }
    .item-top-offer--title {
        font-size: 14px
    }
    .item-top-offer--priceDiscount {
        font-size: 20px
    }
    .top-offer-item-club--percent {
        font-size: 10px
    }
}

@media (max-width:768px) {
    .item-top-offer--title {
        font-size: 18px
    }
    .top-offer-item-club--percent {
        font-size: 12px
    }
    .item-top-offer--pellet {
        top: -30px
    }
}

@media (max-width:576px) {
    .item-top-offer {
        max-height: 240px;
        min-height: 240px;
        border-radius: 0
    }
    .item-top-offer--picture {
        width: 40%
    }
    .item-top-offer--description {
        width: 60%
    }
    .top-offer-item-club {
        border-bottom: none;
        border-top: 1px solid #fff;
        margin-top: 1rem
    }
    .top-offer-item-club--percent {
        font-size: 10px
    }
    .item-top-offer--picture-bg img {
        width: 110px
    }
    .item-top-offer--pellet {
        height: 64px;
        width: 64px;
        top: -10px;
        right: -30px
    }
    .item-top-offer--priceDiscount,
    .item-top-offer--title,
    .top-offer-euro,
    .top-offer-price-decimal {
        font-size: 12px
    }
    .top-offer-euro {
        top: -15px
    }
    .top-offer-price-decimal {
        margin-left: -1rem
    }
    .top-offer-f54l-f34s {
        font-size: 34px
    }
    .top-offer-item-whiteLogo {
        width: 50px
    }
}

@media (max-width:390px) {
    .top-offer-item-club {
        margin-top: 0
    }
}

@media (max-width:350px) {
    .item-top-offer--description {
        padding: 0
    }
}

.item-top-offer-custom {
    max-height: 446px;
    min-height: 446px;
    border-radius: 3px
}

@media (max-width:1400px) {
    .item-top-offer-custom {
        margin-top: .5rem;
        margin-bottom: .5rem
    }
}

@media (max-width:576px) {
    .item-top-offer-custom {
        max-height: 240px;
        min-height: 240px;
        border-radius: 0
    }
}

/*# sourceMappingURL=styles.css.map*/