$primary: #23c3b2;
$text-primary-color: #ffffff;

$background-gradient-1: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
$background-gradient-2: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%);

$background-main: #101010;
$background-secondary: #b55454;

@font-face {
   font-family: 'SF-Display-med';
   src: url('../fonts/sf-ui-display/sf-ui-display-medium.otf') format('opentype');
   font-weight: 400;
}

@font-face {
   font-family: 'SF-Display-bold';
   src: url('../fonts/sf-ui-display/sf-ui-display-bold.otf') format('opentype');
   font-weight: 700;
}

// fonts variables
$SF-Display: 'SF-Display-med', sans-serif;
$SF-Display-bold: 'SF-Display-bold', sans-serif;

body,
button,
input,
div,
a,
p,
li,
h1,
h2,
h3 {
   font-family: $SF-Display;
   text-align: left;
   color: $text-primary-color;
}

html {
   scroll-behavior: smooth;
}

html,
body {
   font-size: 16px;
   margin: 0;
   padding: 0;
   max-width: 100vw;
}

body {
   display: block;
   box-sizing: border-box;
   background: $background-main;
   // overflow: hidden;
}

.header {
   background: rgba(0, 0, 0, 0.5);

   &__content {
      display: block;
      height: fit-content;
      box-sizing: border-box;
      margin: auto;
   }

   &__title {
      margin-right: -10px;
   }
   &__text {
      opacity: 0.8;
   }

   &__button {
      &_menu,
      &_more {
         border: none;
         background: transparent;
         padding: 0;
      }

      &_menu {
         position: absolute;
         left: 10px;
         top: 10px;
      }

      &_more {
         justify-self: flex-end;
      }
   }
}

.section {
   position: relative;
   overflow: hidden;
   display: flex;
   box-sizing: border-box;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 25px 35px;
   padding-left: 50px;
   min-height: 500px;
   min-width: 320px;
   height: 100vh;
   width: 100%;

   &__subtitle,
   &__title {
      font-family: $SF-Display-bold;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      text-align: left;
   }

   &__subtitle {
      font-size: 24px;
      line-height: 28.64px;
      letter-spacing: 1px;
      margin: 5px 0;
   }

   &__text {
      font-family: $SF-Display;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
   }

   &__title,
   &__text {
      margin: 10px 0;
   }

   &__picture {
      position: relative;
      width: 100%;
      height: auto;
      max-height: 500px;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
      }

      &_inside {
         position: absolute;
         left: 10px;
         top: 10px;
         width: calc(100% - 20px) !important;
         height: 100%;
         border-radius: 30px 30px 0 0;
         z-index: -1;
      }
   }

   &__background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
         object-position: center;
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }

   &__heading {
   }
   &__subtitle {
   }
   &__content {
   }
   &__cta {
   }
}

.introduction {
   padding-bottom: 0;
   gap: 30px;
   // background: #000000;

   &::before {
      width: 100%;
      height: 60%;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: $background-gradient-1;
      z-index: 1;
   }

   &__content {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      flex-grow: 1;
      margin: auto;
      justify-content: flex-end;
   }

   &__heading {
      font-size: 24px;
      line-height: 28px;
      margin: 15px 0;
   }
   &__description {
      font-size: 15px;
      margin: 0;
      opacity: 0.8;
   }

   &__image {
      justify-self: flex-end;
   }
}

.subscribe {
   background: $background-gradient-2;
   box-shadow: 0px 0px 0px 8px $primary inset;

   &__heading {
      margin: 0 auto auto 0;
   }

   &__text_shadow {
      line-height: 22.4px;
      letter-spacing: 0.5px;
      margin: 5px 0;
   }

   &__content {
      margin: auto 0 0;
   }

   &__cta {
      margin: 40px 0;
      align-self: start;
   }

   &__content,
   &__cta {
      .section__subtitle {
         margin-top: 0;
      }

      .section__text {
         margin-bottom: 0;
      }
   }

   &__text_details {
      width: 155px;
      height: auto;
      font-size: 12px;
      line-height: 14.32px;
      letter-spacing: 0.84px;
      text-align: left;
   }

   &__button_more {
      color: rgba(229, 229, 229, 1);
   }
}

.subscribe__button_more,
.btn-primary {
   font-family: $SF-Display;
   font-size: 11px;
   font-weight: 600;
   line-height: 13.1px;
   letter-spacing: 1.3px;
   text-transform: uppercase;
}

.btn-primary {
   background-color: $primary;
   border: none;
   text-align: center;
   padding: 21px 57px;
   border-radius: 5px;
   margin: 10px 0;
}

.advantages {
}
.offer {
}

.benefits {
}
.benefits__list {
}
