$primary: #23c3b2;
$text-primary-color: #ffffff;

$background-gradient-1: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
$background-gradient-8: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%);

$background-main: #101010;
$background-secondary: #b55454;

body,
button,
input,
div,
a,
p,
li,
h1,
h2,
h3 {
   font-family: 'Segoe UI', sans-serif;
   font-weight: 400;
   font-style: normal;
}

html {
   scroll-behavior: smooth;
}

body {
   font-size: 16px;
   margin: 0;
   padding: 0;
   background: $background-main;
}
