@font-face {
  font-family: "SF-Display-med";
  src: url("../fonts/sf-ui-display/sf-ui-display-medium.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "SF-Display-bold";
  src: url("../fonts/sf-ui-display/sf-ui-display-bold.otf") format("opentype");
  font-weight: 700;
}
body,
button,
input,
div,
a,
p,
li,
h1,
h2,
h3 {
  font-family: "SF-Display-med", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}