body,
button,
input,
div,
a,
p,
li,
h1,
h2,
h3 {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
}